{% extends 'base.html.twig' %}

{% block title %}Laisser une critique pour {{ movie.title }}{% endblock %}


{% block body %}
<div class="flex flex-col items-center">

</div>


{% endblock %}


{% endblock %}
